.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    font-family: quicksand;
    font-size: 20px;
    text-align: left;
    margin-left: -350px;
  }

  .text p {
    margin-left: -20px;
  }

  .secondButton {
    font-family: quicksand;
    font-size: 20px;
    background-color: transparent;
    border: 0.5px solid black;
    padding: 10px; ;
    margin-left: 248px;
    border-radius: 5px;
    margin-top: 20px;
    width: 140px;
    cursor: pointer;
    font-size: 18px;
  }






  @media screen and (min-width: 0px) and (max-width: 300px) {
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        font-family: quicksand;
        text-align: center;
    }
    .secondButton {
      font-family: quicksand;
      font-size: 20px;
      background-color: transparent;
      border: 0.5px solid black;
      padding: 10px; ;
      margin-left: 200px;
      border-radius: 5px;
      margin-top: 20px;
    }
  
    
  }

  @media screen and (min-width: 301px) and (max-width: 500px) {
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        font-family: quicksand;
        text-align: center;
        font-size: 15px;
    }
    .secondButton {
      font-family: quicksand;
      font-size: 20px;
      background-color: transparent;
      border: 0.5px solid black;
      padding: 10px; ;
      margin-left: 45px;
      border-radius: 5px;
      margin-top: 20px;
    }
    .text {
      margin-left: -80px;
    }
    .text p {
      margin-left: -15px;
    }
    
  }
    

