  /* Navbar css */
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: white;
        width: 100%;
        height: 60px;
        z-index: 999;
    }

    .navbar-logo {
        font-family: quicksand, sans-serif, Arial, Helvetica;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
        padding-left: 0.5rem;
    }

    .navbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .navbuttons li {
        padding: 0 0.5rem;
    }

    .navbuttons li a {
        font-family: quicksand, sans-serif, Arial, Helvetica;
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
        text-decoration: none;
    }

    .navbuttons li a:hover {
        color: #000000;
        filter: blur(1px);
    }

/* Header css */

    header {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
  
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
  
    .video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
  
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
  
    .header-content {
        position: relative;
        z-index: 1;
        font-family: quicksand, sans-serif, Arial, Helvetica;
        color: white;
        padding-left: 0.5rem;
        margin-top: 500px;
    }

    .header-content h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .header-content p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .header-content button {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        background-color: #000000;
        color: white;
        cursor: pointer;
    }

    .header-content button:hover {
        filter: blur(1px);
    }

/* About css */


    #About {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
        font-family: quicksand, sans-serif, Arial, Helvetica;
    }

    #About h2 {
        margin-top: 30px;
    }

    #About img {
        width: 30%;
        height: 30%;
    }

    #About p {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: center;
        width: 300px;
        line-height: 1.5;
        letter-spacing: 0.09em;
    }

/* Gallery */
    
    #Gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
        font-family: quicksand, sans-serif, Arial, Helvetica;
    }


    #Gallery h2 {
        font-family: quicksand, sans-serif, Arial, Helvetica;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
        padding-left: 0.5rem;
        text-align: center;
        margin-top: 35px;
    }


    
/* ContactForm css */

    #Contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
        font-family: quicksand, sans-serif, Arial, Helvetica;
    }

    #Contact h2 {
        margin-bottom: 35px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }
  
    input {
        width: 400px;
        padding: 0.5rem 1rem;
        border: 1px solid #000000;
        border-radius: 5px;
        font-family: quicksand, sans-serif, Arial, Helvetica;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    textarea {
        width: 400px;
        height: 250px;
        padding: 0.5rem 1rem;
        border: 1px solid #000000;
        border-radius: 5px;
        font-family: quicksand, sans-serif, Arial, Helvetica;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    form button {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        background-color: #000000;
        color: white;
        cursor: pointer;
    }


    @media screen and (min-width: 0px) and (max-width: 365px){
        .navbar-logo {
            font-size: 1.5rem;
        }

        .navbuttons li a {
            font-size: 0.8rem;
        }

        .header-content {
            margin-top: 475px;
        }

        .header-content h1 {
            font-size: 2rem;
        }

        .header-content p {
            font-size: 1rem;
        }

        .header-content button {
            font-size: 0.8rem;
        }

        #About p {
            font-size: 0.8rem;
            width: 200px;
        }

        #Gallery h2 {
            font-size: 1.5rem;
        }

        #Contact h2 {
            font-size: 1.5rem;
        }

        input {
            width: 200px;
        }

        textarea {
            width: 200px;
        }

        form button {
            font-size: 0.8rem;
        }
        
    }

    @media screen and (min-width: 366px) and (max-width: 450px){
        .navbar-logo {
            font-size: 1.5rem;
        }

        .navbuttons li a {
            font-size: 0.8rem;
        }

        .header-content {
            margin-top: 475px;
        }
        .header-content h1 {
            font-size: 2rem;
        }

        .header-content p {
            font-size: 1rem;
        }

        .header-content button {
            font-size: 0.8rem;
        }

        #About h2 {
            margin-top: 80px;
            margin-bottom: 30px;
        }

        #About img {
            width: 250px;
        }
        #About p {
            font-size: 0.8rem;
            width: 200px;
        }

        #Gallery h2 {
            font-size: 1.5rem;
        }

        #Contact h2 {
            font-size: 1.5rem;
        }

        input {
            width: 250px;
        }

        textarea {
            width: 250px;
        }

        form button {
            font-size: 0.8rem;
        }
        
    }

    @media screen and (min-width: 451px) and (max-width: 600px){
        .navbar-logo {
            font-size: 1.5rem;
        }

        .navbuttons li a {
            font-size: 0.8rem;
        }

        .header-content {
            margin-top: 500px;
        }
        .header-content h1 {
            font-size: 2rem;
        }

        .header-content p {
            font-size: 1rem;
        }

        .header-content button {
            font-size: 0.8rem;
        }

        #About h2 {
            margin-top: 80px;
        }

        #About img {
            width: 300px;
        }

        #About p {
            font-size: 0.8rem;
            width: 200px;
        }

        #Gallery h2 {
            font-size: 1.5rem;
        }

        #Contact h2 {
            font-size: 1.5rem;
        }

        input {
            width: 300px;
        }

        textarea {
            width: 300px;
        }

        form button {
            font-size: 0.8rem;
        }
    }

    @media screen and (min-width: 601px) and (max-width: 1500px){

        .navbar-logo {
            margin-left: 10px;
        }
        .navbuttons {
            margin-right: 10px;
        }
        .header-content {
            margin-top: 475px;
            margin-left: 10px;
        }
        .header-content p {
            width: 800px;
        }

        #About h2 {
            margin-top: 60px;
        }

        #About img {
            width: 350px;
        }

        input {
            width: 500px;
        }
        textarea {
            width: 500px;
        }

    }


    